<h1>Welcome to petwriter</h1>

<h2>About this site</h2>

<p>This is a site where <em>you</em> can share small (140 char) updates
  on behalf of your pets.</p>

{% if user.is_authenticated %}
<p>You're signed in as {{ user.username }}. Yay! You should look at your
  <a href="/pets/">list of pets</a>. You can also
  <a href="/pets/delete_all/">close your account</a>.</p>
</p>
{% else %}
<p>To sign up, FIXME.</p>
{% endif %}

<p>On this site, you can write updates on behalf of your
  pets. Register as many pets as you like.</p>

<h2>Recent pet updates across the site</h2>

<ul>
  {% for update in recent_updates %}
  <li>{{ update.text }} by {{ update.pet.name }} on {{ update.pub_date }}</li>
  {% endfor %}
</ul>

<p>Reload for more!</p>
